body{background-color: rgb(207, 235, 246); box-sizing: border-box; padding:0; margin: 0; width: 100%;}

#auth_reg{
    font-family: "Arial"; font-size: 15px; color: white;
    background-color: darkred; padding: 15px;
    border-color: lightblue; border-radius: 10px; border-width:  5px;
}


main{background-color: coral; position: absolute;width: 30%; left: 35%; height: 40%; top: 20%; text-align: center; align-content: center}

#div_AR{position: relative; float: right; margin: 20px ;}